@mixin font-face($font-family, $folder, $file) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('https://s3.amazonaws.com/star-wars-challenge/fonts/#{$folder}/#{$file}.eot');
    src: url('https://s3.amazonaws.com/star-wars-challenge/fonts/#{$folder}/#{$file}.eot?#iefix') format('embedded-opentype'),
    url('https://s3.amazonaws.com/star-wars-challenge/fonts/#{$folder}/#{$file}.woff') format('woff'),
    url('https://s3.amazonaws.com/star-wars-challenge/fonts/#{$folder}/#{$file}.ttf') format('truetype'),
    url('https://s3.amazonaws.com/star-wars-challenge/fonts/#{$folder}/#{$file}.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}